@font-face {
    font-family: "RF Dewi";
    src: url("../fonts/RFDewi-Bold.eot");
    src: local("RF Dewi Bold"), local("RFDewi-Bold"),
        url("../fonts/RFDewi-Bold.eot?#iefix") format("embedded-opentype"),
        url("../fonts/RFDewi-Bold.woff2") format("woff2"),
        url("../fonts/RFDewi-Bold.woff") format("woff"),
        url("../fonts/RFDewi-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "RF Dewi";
    src: url("../fonts/RFDewi-Semibold.eot");
    src: local("RF Dewi Semibold"), local("RFDewi-Semibold"),
        url("../fonts/RFDewi-Semibold.eot?#iefix") format("embedded-opentype"),
        url("../fonts/RFDewi-Semibold.woff2") format("woff2"),
        url("../fonts/RFDewi-Semibold.woff") format("woff"),
        url("../fonts/RFDewi-Semibold.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "RF Dewi Extended";
    src: url("../fonts/RFDewiExtended-Bold.eot");
    src: local("RF Dewi Extended Bold"), local("RFDewiExtended-Bold"),
        url("../fonts/RFDewiExtended-Bold.eot?#iefix")
            format("embedded-opentype"),
        url("../fonts/RFDewiExtended-Bold.woff2") format("woff2"),
        url("../fonts/RFDewiExtended-Bold.woff") format("woff"),
        url("../fonts/RFDewiExtended-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "RF Dewi Extended";
    src: url("../fonts/RFDewiExtended-Semibold.eot");
    src: local("RF Dewi Extended Semibold"), local("RFDewiExtended-Semibold"),
        url("../fonts/RFDewiExtended-Semibold.eot?#iefix")
            format("embedded-opentype"),
        url("../fonts/RFDewiExtended-Semibold.woff2") format("woff2"),
        url("../fonts/RFDewiExtended-Semibold.woff") format("woff"),
        url("../fonts/RFDewiExtended-Semibold.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "RF Dewi Extended";
    src: url("../fonts/RFDewiExtended-Ultrabold.eot");
    src: local("RF Dewi Extended Ultrabold"), local("RFDewiExtended-Ultrabold"),
        url("../fonts/RFDewiExtended-Ultrabold.eot?#iefix")
            format("embedded-opentype"),
        url("../fonts/RFDewiExtended-Ultrabold.woff2") format("woff2"),
        url("../fonts/RFDewiExtended-Ultrabold.woff") format("woff"),
        url("../fonts/RFDewiExtended-Ultrabold.ttf") format("truetype");
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "RF Dewi";
    src: url("../fonts/RFDewi-Regular.eot");
    src: local("RF Dewi Regular"), local("RFDewi-Regular"),
        url("../fonts/RFDewi-Regular.eot?#iefix") format("embedded-opentype"),
        url("../fonts/RFDewi-Regular.woff2") format("woff2"),
        url("../fonts/RFDewi-Regular.woff") format("woff"),
        url("../fonts/RFDewi-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "RF Dewi";
    src: url("../fonts/RFDewi-Ultrabold.eot");
    src: local("RF Dewi Ultrabold"), local("RFDewi-Ultrabold"),
        url("../fonts/RFDewi-Ultrabold.eot?#iefix") format("embedded-opentype"),
        url("../fonts/RFDewi-Ultrabold.woff2") format("woff2"),
        url("../fonts/RFDewi-Ultrabold.woff") format("woff"),
        url("../fonts/RFDewi-Ultrabold.ttf") format("truetype");
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "RF Dewi Extended";
    src: url("../fonts/RFDewiExtended-Black.eot");
    src: local("RF Dewi Extended Black"), local("RFDewiExtended-Black"),
        url("../fonts/RFDewiExtended-Black.eot?#iefix")
            format("embedded-opentype"),
        url("../fonts/RFDewiExtended-Black.woff2") format("woff2"),
        url("../fonts/RFDewiExtended-Black.woff") format("woff"),
        url("../fonts/RFDewiExtended-Black.ttf") format("truetype");
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}
